@font-face {
    font-family: Hacen Maghreb;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Hacen-Maghreb/Hacen-Maghreb.ttf') format('truetype');
}

@font-face {
    font-family: Hacen Maghreb;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Hacen-Maghreb/Hacen-Maghreb-Bd.ttf') format('truetype');
}

@font-face {
    font-family: Hacen Maghreb;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Hacen-Maghreb/Hacen-Maghreb-Lt.ttf') format('truetype');
}

body {
    font-family: 'Hacen Maghreb';
}