@media screen and (max-width: 767px) {
    header {
        padding-top: 0;
        display: none;
    }

    header .navbar {
        margin-bottom: 0;
    }

    .container-fluid > .navbar-header {
        margin-right: -30px;
        margin-left: -30px;
    }

    .bars-icon:before,
    .bars-icon:after,
    .bars-icon {
        width: 25px;
        height: 3px;
    }

    .slider-container {
        min-height: 50vh;
        background: #000;
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .project-intro {
        background: #e7e2df;
        padding-top: 250px;
        position: relative;
    }

    .project-intro:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 60px solid transparent;
        border-right: 100vw solid #2B8ACE;
        border-bottom: 40px solid #2B8ACE;
    }

    .project-intro .top-bar-info {
        margin-top: 0;
        float: none;
    }

    .project-intro .top-bar-info--inner,
    .project-intro .top-bar-info {
        height: auto;
    }

    .project-intro .top-bar-info--inner {
        border-radius: 10px;
    }

    .project-intro .top-bar-info_cell {
        display: block;
        padding-right: 70px;
        padding-left: 20px;
    }

    .project-intro .top-bar-info--cols {
        display: block;
        width: 100%;
        padding-bottom: 20px;
    }

    .logo-container .logo {
        width: calc(100% - 30px);
        height: 80px;
        top: 100px;
        right: 15px;
    }

    .logo-container .logo img {
        width: 80px;
    }

    .logo-container .logo h1 {
        margin: 0;
        padding: 10px 32px 10px 0;
        height: 80px;
        line-height: 30px;
    }

    .logo-container .logo h1 .arabic span,
    .logo-container .logo h1 .arabic {
        font-size: 25px;
    }

    .logo-container .logo h1 .english,
    .logo-container .logo h1 .english span {
        font-size: 20px;
    }

    .project-intro .top-bar-info--ring {
        display: none;
    }

    .project-intro .top-bar-info_cell.with-icon {
        padding-right: 20px;
        padding-left: 20px;
    }

    .project-intro .top-bar-info_cell .info-icon {
        position: relative;
        width: 40px;
        height: 40px;
        background: url("../svg/information-red.svg") no-repeat right center;
        background-size: 40px;
        float: right;
    }

    .project-intro .top-bar-info_cell.with-icon span {
        display: inline-block;
        padding-right: 50px;
        width: 250px;
        font-weight: bold;
        line-height: 40px;
        font-size: 20px;
    }

    .project-intro .top-bar-info_cell i {
        position: absolute;
        bottom: 0;
        right: 70px;
        left: 20px;
        width: auto;
        border-radius: 0;
        background: #eee;
    }

    .project-intro .top-bar-info_cell .line-icon {
        height: 1px;
    }

    .project-intro .top-bar-info_cell:last-child .line-icon {
        display: none;
    }

    .project-intro .top-bar-info--btn {
        display: block;
        float: none;
        width: 100%;
        height: 40px;
    }

    .project-intro .top-bar-info_btn {
        display: block;
        padding: 0 10px 0 40px;
        line-height: 40px;
        text-align: left;
        position: relative;
    }

    .project-intro .top-bar-info_btn:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 0;
        width: 20px;
        height: 40px;
        background: url("../svg/left-w.svg") no-repeat center left;
        background-size: 20px;
    }

    .project-intro .body-info {
        float: none;
        display: block;
        padding-top: 70px;
        background: transparent;
        position: relative;
        z-index: 2;
    }

    .right-side,
    .left-side {
        float: none;
        display: block;
        width: 100% !important;
        padding: 0 !important;
    }

    .right-side--header h3:after,
    .project-intro .right-side .right-side--header small {
        display: none;
    }

    .right-side--header {
        padding: 0 15px;
    }

    .right-side--header h3 b,
    .right-side--header h3 {
        white-space: normal;
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    .right-side--header h3 b {
        display: block;
    }

    .project-intro .left-side {
        display: block;
        background: transparent;
    }

    .project-intro .right-side:before {
        display: none;
    }

    .project-intro .right-side--menu {
        padding: 0 15px;
        height: 92px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-bottom: 30px;
    }

    .project-intro .right-side--menu > li > a {
        display: inline;
    }

    .project-intro .right-side--menu > li > a .right-side--menu__icon {
        display: block;
        float: none;
    }

    .project-intro .right-side--menu li.active .svg-arrow-left-w {
        display: none;
    }

    .project-intro .right-side--menu small {
        display: none;
    }

    .project-intro .right-side--menu li {
        /*float: right;*/
        display: inline-block;
        background: #fff;
        width: 120px;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .project-intro .right-side--menu li:last-child {
        margin-left: 0;
    }

    .project-intro .left-side--image {
        width: 100%;
        height: 225px;
        border-radius: 10px 10px 0 0;
        margin-bottom: 0;
    }

    .project-intro .left-side--info {
        display: block;
        background: rgb(57, 57, 57) url("../images/info-bg.png") no-repeat left bottom;
        background-size: cover;
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        border-radius: 0 0 10px 10px;
        padding-bottom: 100px;
    }

    .project-intro .left-side--info__title {
        font-size: 20px;
    }

    .project-intro .left-side--info__text {
        line-height: 25px;
    }

    .project-intro .left-side--btn {
        margin-top: -75px;
        width: 40%;
        padding-left: 30px;
        margin-bottom: 0;
        position: absolute;
        left: 0;
    }

    .project-intro .left-side--btn:nth-child(3) {
        width: 60%;
        height: 51px;
        padding-right: 30px;
        padding-left: 5px;
        left: auto;
        right: 0;
    }

    .project-intro .left-side--btn__btn-donate {
        height: 40px;
        line-height: 40px;
        padding: 0 15px 0 0;
        border-radius: 10px;
        font-size: 16px;
        display: block;
        background: #c52828 url('../svg/left-w.svg') no-repeat 10px center;
        background-size: 20px;
    }

    .project-intro .left-side--btn__heart {
        left: 60px;
        width: 48px;
        height: 48px;
        bottom: -4px;
    }

    .project-intro .left-side--btn__btn-more {
        height: 40px;
        line-height: 16px;
        border-radius: 10px;
        padding: 4px 15px 4px 0;
        display: block;
        font-size: 14px;
        background: #e6e1de;
        color: #393939;
    }

    .project-intro .left-side--btn__btn-more:after {
        width: 20px;
        height: 100%;
        top: 0;
        margin-top: 0;
        background: url("../svg/left-b.svg") no-repeat center;
    }

    .project-intro .left-side--btn__btn-more .left-side--btn__arrow {
        display: none;
    }

    .contact-us .body-info {
        display: block;
        float: none;
        min-height: auto;
        padding-top: 50px;
        position: relative;
        padding-bottom: 125px;
    }

    .contact-us .right-side {
        position: unset;
    }

    .contact-us .contact-alert {
        bottom: 0;
        right: 0;
        left: 0;
        line-height: 20px;
        font-size: 14px;
        padding: 15px 85px 15px 15px;
        background: rgba(8, 64, 104, 0.8) url("../svg/warning.svg") no-repeat calc(100% - 15px) center;
        background-size: 60px;
        width: 100%;
    }

    .right-side--header small {
        display: none;
    }

    .contact-us .left-side ul {
        padding-top: 30px;
    }

    .contact-us .left-side li .num {
        display: block;
        margin: 0 auto 20px;
    }

    .contact-us .left-side li h2 {
        display: block;
        margin: 0 0 30px;
        text-align: center;
    }

    .contact-us .left-side li .left-text {
        float: none;
        display: block;
        text-align: center;
    }

    .contact-us .left-side ul.text-white > li {
        margin-bottom: 30px;
    }

    .contact-us .left-side li .bank-accounts {
        padding: 0;
        margin: 0;
    }

    .contact-us .left-side li .bank-accounts li {
        text-align: right;
        border-bottom: 1px solid rgba(133, 205, 255, 0.5);
        padding-bottom: 15px;
    }

    .contact-us .left-side li .bank-accounts li:last-child {
        border-bottom: none;
    }

    .contact-us .left-side li .bank-accounts b {
        position: relative;
        display: block;
    }

    .contact-us .mobile-carousel .owl-item {
        min-height: 430px;
    }

    .owl-theme .owl-dots .owl-dot span {
        height: 4px;
        border-radius: 2px;
        margin: 2px;
        background: #fff;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        width: 20px;
        background: #FFF;
    }

    .owl-theme .owl-dots .owl-dot:hover span {
        background: #FFF;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-bottom: 20px;
    }

    .video-gallery .body-info {
        display: block;
        float: none;
        padding-top: 50px;
    }

    .contact-form-container .right-side,
    .about-container .right-side,
    .news-container .right-side,
    .contact-us .right-side,
    .video-gallery .right-side {
        display: block;
    }

    .contact-form-container .left-side,
    .about-container .left-side,
    .news-container .left-side,
    .media-gallery .left-side,
    .image-gallery .left-side,
    .video-gallery .left-side {
        display: block;
    }

    .about-container .about-content-container,
    .contact-form-container .contact-us-form-container,
    .news-container .news-slider,
    .media-gallery .media-gallery-container,
    .image-gallery .image-gallery-container,
    .video-gallery .video-gallery-container {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
    }

    .news-container .right-side .right-side--header,
    .contact-form-container .right-side .right-side--header,
    .media-gallery .right-side .right-side--header,
    .image-gallery .right-side .right-side--header,
    .video-gallery .right-side .right-side--header {
        position: relative;
        top: auto;
        transform: none;
    }

    .image-gallery .nav-tabs,
    .video-gallery .nav-tabs,
    .image-gallery h4,
    .video-gallery h4 {
        display: none;
    }

    .video-gallery .owl-theme .owl-nav .disabled[class*=owl-] {
        display: none;
    }

    .media-gallery .media-gallery-container,
    .image-gallery .image-gallery-container,
    .video-gallery .video-gallery-container {
        margin-left: -15px;
        margin-right: -15px;
    }

    .video-gallery .video-slider .video-item {
        width: 100%;
        padding: 0;
    }

    .video-gallery .video-slider .video-item .video-container {
        box-shadow: -15px 15px 20px #bfbfbf;
        border-radius: 0;
    }

    .video-gallery .video-slider .video-item .caption {
        margin-top: 30px;
        padding-right: 15px;
    }

    .video-gallery .video-slider .owl-dots {
        position: relative;
        left: auto;
        top: auto;
    }

    .news-container .news-slider .owl-dots .owl-dot span,
    .media-gallery .media-slider .owl-dots .owl-dot span,
    .image-gallery .image-slider .owl-dots .owl-dot span,
    .video-gallery .video-slider .owl-dots .owl-dot span {
        width: 10px;
    }

    .news-container .news-slider .owl-dots .owl-dot.active span,
    .media-gallery .media-slider .owl-dots .owl-dot.active span,
    .image-gallery .image-slider .owl-dots .owl-dot.active span,
    .video-gallery .video-slider .owl-dots .owl-dot.active span {
        width: 20px;
    }

    .news-container .archive-link,
    .help-container .archive-link,
    .image-gallery .archive-link,
    .video-gallery .archive-link {
        position: relative;
        top: auto;
        left: auto;
        float: left;
        margin-bottom: 30px;
        margin-left: 15px;
    }

    .news-container .archive-link,
    .help-container .archive-link,
    .image-gallery .archive-link,
    .video-gallery .archive-link {
        height: auto;
        border-radius: 10px;
        background: transparent;
        border: 1px solid #eee;
        color: #393939;
        padding-right: 10px;
    }

    .image-gallery .archive-link {
        color: #fff;
    }

    .news-container .archive-link:after,
    .help-container .archive-link:after,
    .video-gallery .archive-link:after {
        background: url('../svg/left-b.svg') no-repeat scroll center;
        background-size: 25px;
    }

    .image-gallery .archive-link:after {
        background: url('../svg/left-w.svg') no-repeat scroll center;
        background-size: 25px;
    }

    .image-gallery .body-info {
        background: #2b2b2b;
        display: block;
        float: none;
        padding-top: 50px;
        color: #fff;
        min-height: auto;
    }

    .image-gallery .image-slider {
        margin-top: 0;
    }

    .image-gallery .image-item {
        margin: 0;
    }

    .image-gallery .image-item a {
        border-radius: 0;
        border: none;
        height: auto;
    }

    .time-line-box .right-side--header {
        padding-right: 15px;
    }

    .time-line-box .body-info {
        float: none;
        padding: 50px 0 0;
    }

    .time-line-box .bg {
        right: 0;
        left: 0;
        background-size: cover;
        height: 178px;
    }

    .time-line-box .time-line-container {
        right: 0;
        left: 0;
        position: relative;
        top: auto;
    }

    .time-line {
        padding: 0;
    }

    .time-line.owl-theme .owl-nav [class*=owl-] {
        display: none;
    }

    .time-line .time-line-item .circle i {
        right: 50%;
        margin-right: -7px;
    }

    .time-line .time-line-item {
        text-align: center;
    }

    .time-line-text {
        width: 100%;
        margin: 30px 0 0;
        padding: 0 15px;
    }

    .time-line-text h2 span {
        font-size: 18px;
    }

    .time-line-text h2 .num {
        font-size: 40px;
    }

    .time-line-text h5 {
        font-size: 14px;
    }

    .time-line-text .text {
        font-size: 12px;
        line-height: 15px;
    }

    .time-line-container .btn-donate {
        height: 40px;
        line-height: 40px;
        padding: 0 15px 0 0;
        border-radius: 10px;
        font-size: 16px;
        display: block;
        background: #c52828 url('../svg/left-w.svg') no-repeat 10px center;
        background-size: 20px;
        right: auto;
        width: 250px;
    }

    .time-line-container .btn-donate .left-side--btn__heart {
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        bottom: -5px;
        transform: none;
    }

    .media-gallery .body-info {
        display: block;
        float: none;
        padding-top: 50px;
    }

    .media-gallery .media-item {
        width: 100%;
        padding: 0;
    }

    .media-gallery .media-item .media-container {
        height: auto;
        border-radius: 0;
    }

    .media-gallery .media-item .caption {
        margin-top: 30px;
        padding: 0 15px;
    }

    .media-gallery .media-item .caption .text {
        width: 100%;
    }

    .media-gallery .media-slider.owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 30px;
    }

    .news-container .news-slider .owl-dots,
    .media-gallery .media-slider .owl-dots {
        position: relative;
        left: auto;
        top: auto;
    }

    .help-container .body-info {
        display: block;
        float: none;
        padding: 50px 15px 0;
        background: #e9e4e1;
        overflow: hidden;
    }

    .help-container .right-side--header {
        margin-bottom: 30px;
    }

    .help-container .help-content .help-item .image {
        width: 70px;
        height: 70px;
    }

    .help-container .help-content .help-item h3 {
        padding-right: 70px;
        font-size: 20px;
        line-height: 34px;
        margin-top: 0;
    }

    .help-container .help-content .help-item span {
        padding-right: 70px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 0;
        height: 36px;
    }

    .help-container .help-content .help-item h3 small {
        display: inline-block;
        margin-right: 15px;
    }

    .help-container .help-content .help-item {
        background: #d6d2cf;
        border-radius: 10px;
        padding: 10px 15px;
        height: 90px;
        margin-bottom: 15px;
    }

    .help-container .help-content {
        margin: 0;
    }

    .help-container .help-content .help-item a {
        padding: 25px 80px 25px 0;
    }

    .help-container .archive-link {
        bottom: auto;
        border: 1px solid #b1afaf;
        background: transparent;
        color: #393939;
        margin-left: 0;
        margin-top: 15px;
    }

    .news-container .body-info {
        display: block;
        float: none;
        background: #fff;
        padding: 50px 0 0;
        overflow: hidden;
    }

    .news-container .news-slider .news-item {
        width: 100%;
        padding: 15px;
    }

    .news-container .news-slider .news-item .image {
        box-shadow: 0 0 10px rgba(5, 5, 5, 0.21);
        border-radius: 10px;
    }

    .news-container .news-slider .news-item .info {
        padding-right: 15px;
    }

    .news-container .news-slider .news-item .info h3 {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .news-container .news-slider .news-item .info h3:after {
        display: none;
    }

    .news-container .news-slider .news-item .more-details {
        float: none;
        display: block;
        clear: both;
        text-align: center;
    }

    .news-container .owl-theme .owl-nav [class*=owl-] {
        display: none;
    }

    .news-container .news-slider .owl-dots .owl-dot span,
    .news-container .news-slider .owl-dots .owl-dot.active span {
        background: #65b5d1;
    }

    .news-container .archive-link {
        right: auto;
        bottom: auto;
        margin-top: 30px;
    }

    .inner-page .slider-container,
    .inner-page .project-intro,
    .inner-page header {
        display: none;
    }

    .inner-page .logo-container {
        text-align: center;
        padding-top: 15px;
        position: relative;
    }

    .inner-page .logo-container .logo {
        display: inline-block;
        position: relative;
        top: auto;
        right: auto;
        width: auto;
    }

    .inner-page .logo-container .logo h1 {
        color: #393939;
        line-height: 25px;
        padding: 0 32px 0 0;
        height: 50px;
        margin: 10px 0;
        display: inline-block;
        vertical-align: middle;
    }

    .inner-page .logo-container .logo h1 .arabic span,
    .inner-page .logo-container .logo h1 .arabic {
        font-size: 18px;
    }

    .inner-page .logo-container .logo h1 .english,
    .inner-page .logo-container .logo h1 .english span {
        font-size: 14px;
    }

    .inner-page .logo-container .logo h1::before {
        background: #393939;
    }

    .inner-page .logo-container .logo img {
        width: 70px;
    }

    .inner-page-content {
        padding: 0 0 30px;
        position: relative;
        overflow: hidden;
        background: #e7e2df;
    }

    .inner-page-content:before {
        content: '';
        height: 250px;
        width: 100%;
        background: #2b2b2b;
        right: 0;
        top: 0;
        position: absolute;
    }

    .inner-page .title-box {
        color: #fff;
        overflow-x: hidden;
        padding: 50px 25px 100px;
    }

    .inner-page .mobile-shape {
        position: relative;
    }

    .inner-page .mobile-shape:after {
        content: '';
        position: absolute;
        height: 70px;
        border-radius: 50%;
        background: #565656;
        top: -45px;
        right: -20px;
        left: -20px;
    }

    .inner-page .mobile-shape:before {
        content: '';
        position: absolute;
        height: 70px;
        border-radius: 50%;
        background: #fff;
        top: -50px;
        right: -20px;
        left: -20px;
        z-index: 2;
    }

    .inner-page .title-box > small,
    .inner-page .title-box h3:after,
    .inner-page .title-box h3 small {
        display: none;
    }

    .inner-page .gallery-page .nav-tabs,
    .inner-page .text-page .nav-tabs,
    .inner-page .donate-page .title-box .nav-tabs {
        width: auto;
        margin: 0 -15px 0 0;
        padding: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .inner-page .gallery-page .nav-tabs > li,
    .inner-page .text-page .nav-tabs > li,
    .inner-page .donate-page .title-box .nav-tabs > li {
        float: none;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .inner-page .gallery-page .nav-tabs > li > a,
    .inner-page .text-page .nav-tabs > li > a,
    .inner-page .donate-page .title-box .nav-tabs > li > a {
        background: transparent;
        color: #8b8b8b;
        font-weight: normal;
    }

    .inner-page .gallery-page .nav-tabs > li.active > a,
    .inner-page .gallery-page .nav-tabs > li > a:hover,
    .inner-page .text-page .nav-tabs > li.active > a,
    .inner-page .text-page .nav-tabs > li > a:hover,
    .inner-page .donate-page .title-box .nav-tabs > li.active > a,
    .inner-page .donate-page .title-box .nav-tabs > li > a:hover {
        background: transparent;
        border-radius: 0;
        padding-left: 15px;
        overflow: visible;
        position: relative;
        color: #fff;
    }

    .inner-page .gallery-page .nav-tabs > li.active > a:after,
    .inner-page .text-page .nav-tabs > li.active > a:after,
    .inner-page .donate-page .title-box .nav-tabs > li.active > a:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 15px;
        width: 30px;
        height: 4px;
        background-color: #07a146;
        border-radius: 2px;
    }

    .inner-page .col-lg-8 .donate-content {
        margin-top: -80px;
        background: #fff;
        border-radius: 10px;
        padding: 30px 15px;
    }

    .inner-page .donate-page .donate-content .code {
        display: block;
        text-align: center;
    }

    .inner-page {
        padding-bottom: 50px;
    }

    .inner-page-content:after {
        display: none;
    }

    .inner-page .donate-page .payment-methods li {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .inner-page .payment-methods .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .inner-page .payment-methods .modal-content {
        border-radius: 0;
        height: 100%;
    }

    .inner-page .payment-methods .modal-body {
        padding: 0 30px;
    }

    .inner-page .payment-methods .modal-header .close {
        font-size: 35px;
    }

    .inner-page .payment-methods .modal-header {
        padding-right: 30px;
        padding-left: 30px;
    }

    .inner-page .donate-page .payment-methods h3 {
        text-align: center;
    }

    .inner-page .donate-page .bank-accounts li {
        padding: 10px;
    }

    .inner-page .donate-page .panel-default > .panel-heading + .panel-collapse > .panel-body {
        padding-right: 15px;
    }

    .inner-page .gallery-page .nav-tabs {
        margin: 0 -5px 0 0;
    }

    .inner-page .text-page .col-lg-8,
    .inner-page .news-page .col-lg-8,
    .inner-page .news-archive-page .col-lg-8,
    .inner-page .gallery-page .col-lg-8 {
        margin-top: -100px;
    }

    .inner-page .text-page .nav-tabs > li.active > a,
    .inner-page .text-page .nav-tabs > li.active > a:focus,
    .inner-page .text-page .nav-tabs > li.active > a:hover,
    .inner-page .gallery-page .nav-tabs > li.active > a,
    .inner-page .gallery-page .nav-tabs > li.active > a:focus,
    .inner-page .gallery-page .nav-tabs > li.active > a:hover {
        color: #fff;
    }

    .inner-page .text-page .nav-tabs > li.active > a:after,
    .inner-page .text-page .nav-tabs > li.active > a:focus:after,
    .inner-page .text-page .nav-tabs > li.active > a:hover:after,
    .inner-page .gallery-page .nav-tabs > li.active > a:after,
    .inner-page .gallery-page .nav-tabs > li.active > a:focus:after,
    .inner-page .gallery-page .nav-tabs > li.active > a:hover:after {
        background: #07a146;
        width: 30px;
        right: 15px;
    }

    .inner-page .gallery .gallery-item img {
        border: none;
        border-radius: 10px 10px 0 0;
    }

    .inner-page .gallery .gallery-item h5 {
        background: #fff;
        margin: 0;
        padding: 15px 15px 5px;
    }

    .inner-page .gallery .gallery-item span {
        display: block;
        background: #fff;
        padding: 0 15px 15px;
        border-radius: 0 0 10px 10px;
    }

    .inner-page .news-page .similar-news {
        display: none;
    }

    .inner-page .news-page .col-lg-8 .text {
        background: #fff;
        border-radius: 10px;
        padding-bottom: 30px;
    }

    .inner-page .news-page .col-lg-8 .text > img {
        border-radius: 10px 10px 0 0;
    }

    .inner-page .news-page .col-lg-8 .text > p,
    .inner-page .news-page .col-lg-8 .text > h2 {
        padding: 0 15px;
    }

    .inner-page .page-image-gallery ul li {
        width: 50%;
    }

    .inner-page .page-image-gallery ul li:after {
        display: none;
    }

    .inner-page .text-page .nav-tabs {
        margin-right: -5px;
    }

    .inner-page .text-page .tab-content {
        margin-top: 20px;
    }

    .inner-page .text-page .tab-content .text {
        border-radius: 10px;
        padding-bottom: 30px;
        background: #fff;
        overflow: hidden;
        position: relative;
    }

    .inner-page .text-page .tab-content .text img {
        border-radius: 10px 10px 0 0;
        max-width: none;
        max-height: 200px;
        right: 50%;
        display: inline-block;
        position: relative;
        transform: translateX(50%);
    }

    .inner-page .text-page .tab-content .text p {
        padding: 30px 15px 0;
    }

    .inner-page .video .gallery .gallery-item .image {
        border-radius: 10px 10px 0 0;
    }

    .inner-page .gallery .gallery-item:hover {
        background: transparent;
    }

    .inner-page .gallery .gallery-item:hover:before {
        display: none;
    }

    .inner-page .donate-page .panel-title span {
        display: block;
        overflow: hidden;
    }

    .inner-page .donate-page .payment-methods li:hover:before {
        right: 50%;
        margin-right: -50px;
    }

    .inner-page .donate-page .payment-methods li {
        background: #f0f0f0;
        border-radius: 5px;
        text-align: right;
    }

    .inner-page .donate-page .payment-methods li .image {
        background: transparent;
        border-radius: 0;
        display: inline-block;
        vertical-align: middle;
    }

    .project-intro .right-side--menu li:hover .right-side--menu__icon-arrow,
    .project-intro .right-side--menu li.active .right-side--menu__icon-arrow {
        display: none;
    }

    .project-intro .right-side--menu li:hover,
    .project-intro .right-side--menu li.active {
        background-color: #5bb45c;
        color: #fff;
    }

    .project-intro .right-side--menu li:hover b,
    .project-intro .right-side--menu li:hover small,
    .project-intro .right-side--menu li.active b,
    .project-intro .right-side--menu li.active small {
        color: #fff;
    }

    .project-intro .right-side--menu > li:hover > a .svg-icon-book {
        background: url("../svg/book-white.svg") no-repeat center;
        background-size: 30px;
    }

    .project-intro .right-side--menu > li:hover > a .svg-icon-hat {
        background: url("../svg/student-hat-white.svg") no-repeat center;
        background-size: 30px;
    }

    .project-intro .right-side--menu > li:hover > a .svg-icon-doorman {
        background: url("../svg/doorman-white.svg") no-repeat center;
        background-size: 30px;
    }

    .project-intro .right-side--menu > li:hover > a .svg-icon-clinic {
        background: url("../svg/clinic-white.svg") no-repeat center;
        background-size: 30px;
    }

    .video-gallery .body-info {
        background: url("../images/video-bg-mobile.png") no-repeat left center;
        background-size: 35vh auto;
    }

    .news-container .news-slider .news-item .info .text {
        font-size: 14px;
        line-height: 20px;
    }

    .mobile-index-menu,
    .desktop-menu {
        background: rgb(232, 227, 224);
        background: -moz-linear-gradient(180deg, rgba(232, 227, 224, 1) 0%, rgba(167, 162, 158, 1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(232, 227, 224, 1) 0%, rgba(167, 162, 158, 1) 100%);
        background: linear-gradient(180deg, rgba(232, 227, 224, 1) 0%, rgba(167, 162, 158, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e3e0", endColorstr="#a7a29e", GradientType=1);
    }

    .mobile-index-menu ul,
    .desktop-menu ul {
        left: 0;
        right: 0;
    }

    .mobile-index-menu ul li,
    .desktop-menu ul li {
        text-align: center;
        padding: 0;
    }

    .mobile-index-menu ul li a,
    .desktop-menu ul li a {
        font-size: 16px;
        color: #403b38;
        display: block;
        padding: 10px 0;
    }

    .mobile-index-menu .close,
    .desktop-menu .close {
        right: 30px;
        top: 20px;
        font-size: 30px;
        color: #67625f;
    }

    .mobile-index-menu .logo,
    .desktop-menu .logo {
        top: auto;
        bottom: 30px;
        right: 50%;
        width: 230px;
        height: 50px;
        margin-top: 0;
        margin-right: -115px;
    }

    .mobile-index-menu .logo img,
    .desktop-menu .logo img {
        float: right;
        max-height: 50px;
    }

    .mobile-index-menu .logo h2,
    .desktop-menu .logo h2 {
        margin: 0;
        color: #fff;
        overflow: hidden;
        padding: 0 32px 0 10px;
        height: 50px;
        line-height: 25px;
        position: relative;
    }

    .mobile-index-menu .logo h2::before,
    .desktop-menu .logo h2::before {
        content: '';
        position: absolute;
        right: 15px;
        top: 0;
        width: 2px;
        height: 80px;
        background: #fff;
        border-radius: 2px;
    }

    .mobile-index-menu .logo h2 .arabic,
    .mobile-index-menu .logo h2 .english,
    .desktop-menu .logo h2 .arabic,
    .desktop-menu .logo h2 .english {
        display: block;
        font-size: 16px;
        font-weight: bold;
    }

    .mobile-index-menu .logo h2 .english,
    .desktop-menu .logo h2 .english {
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .mobile-index-menu .logo h2 .arabic span,
    .mobile-index-menu .logo h2 .english span,
    .desktop-menu .logo h2 .arabic span,
    .desktop-menu .logo h2 .english span {
        font-size: 16px;
        font-weight: 300;
    }

    .mobile-index-menu .logo h2 .english span,
    .desktop-menu .logo h2 .english span {
        font-size: 12px;
        font-weight: 300;
    }

    .mobile-index-menu ul li a:hover:before,
    .desktop-menu ul li a:hover:before {
        right: 25%;
        width: 50%;
    }

    .mobile-index-menu ul li a:before,
    .desktop-menu ul li a:before {
        right: 25%;
    }

    .mobile-index-menu ul li a {
        padding: 10px;
    }

    .mobile-scrolled.inner-page .news-archive-page .title-box{
        padding-bottom: 0;
    }
    .news-archive-items li{
        border:none;
        box-shadow: 0 0 10px rgba(9,9,9,0.3);
        margin-bottom: 15px;
    }
    .news-archive-items li .image{
        float: none;
        width: 100%;
        height:180px;
        overflow: hidden;
    }
    .news-archive-items li .image img{
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top:50%;
        position: relative;
    }

    .news-archive-items li h4{
        margin-top: 15px;
        padding: 0 15px;
    }
    .news-archive-items li .text{
        padding: 0 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
}